<!doctype html>

<HTML>
	<HEAD>
		<TITLE>Capstone Project Web Application</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  		<style>
      .footer{
    display: flex;
    position: absolute;
    bottom: 1;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    padding: 10px 10px;
    color: #ffffff;
    }
    .text{
    font-size: 22px;
    color: #000000;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Georgia', cursive;
}  
		</style>
	</HEAD>

<BODY>
<!-- Navigation bar -->
<nav class="navbar navbar-light" style="background-color:#000000;margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('home')}}">MAIN PAGE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('predictor')}}">PREDICTOR</a></li>
      
    </ul>
  </div>
</nav>

 <!-- Nav.igation bar ends -->	
<div>
  <div class="karthik">
    <img src="../static/pic.jpeg" class="home-banner-image" width="1500" height="600"> 
  </div>
  <h2 style="margin-top: 0;">
<p class="text"></p>
<p>17BCE2255</p>
<p>CHALLA KARTHIK</p>
<P>BTECH CSE FINAL YEAR CAPSTONE PROJECT</P>
<p>VIT VELLORE, TN</p>

  </div>
</div>
</div>
  <div class="footer">
    <div>17BCE2255 - CHALLA KARTHIK - Accuracy exhibition of cellular networks by data analytics capstone project </div>
        </div>
	
</BODY>
</HTML>